.jumbotron {
    background-color: orange;
    color: white;
    margin-top: 50px

}

.btn {
  background-color: black;

}

.propiedades-boton {
  flex: 1 200px;
  padding: 2px 0px 2px 0px;
  margin-top: 10px;

}

.btn-propiedades{
  width: 100%;

}
footer {
  padding: 10px 10px 0 10px;
  background-color: orange;
  margin-bottom: 0px;
  margin-top: 10px;

}
.footer-icons{
  padding-right: 10px
}

.footer-links {
  color: "white"
}
.footer-links:hover {
  color:"#117a8b"
}
